name: Generate JSDoc Documentation

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: '22'

    - name: Install dependencies (ScrumParty)
      working-directory: ./ScrumParty
      run: npm install

    - name: Generate JSDoc from ScrumParty
      working-directory: ./ScrumParty
      run: npm run docs

    - name: Deploy Documentation
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./out
